@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorWebAppMovies.Models
@using BlazorWebAppMovies.Data
@inject IDbContextFactory<BlazorWebAppMovies.Data.BlazorWebAppMoviesContext> DbFactory

@*@page "/movies" <--- ruta de la paÌgina*@

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>ReleaseDate</th>
            <th>Genre</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in movies)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.ReleaseDate</td>
                <td>@movie.Genre.Name</td>
                <td>@movie.Price</td>
                <td>
                    <a href="@($"/movies/details?id={movie.Id}")">Details</a> | <a
                        href="@($"/movies/edit?id={movie.Id}")">Edit</a>
                    | <a href="@($"/movies/delete?id={movie.Id}")">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex gap-3 mb-3">
    <input class="form-control" @bind="@searchTerm"  />

    <button class="btn btn-primary" @onclick="SearchMovies">
        Search
    </button>
</div>
<div class="d-flex gap-3">

    <button class="btn btn-primary" @onclick="()=> SearchByGenre(null)">
        Reset
    </button>


    <button class="btn btn-primary" @onclick="()=> SearchByGenre(1)">
        Terror
    </button>

    <button class="btn btn-primary" @onclick="() => SearchByGenre(2)">
        Romance
    </button>
</div>

@code {
    private BlazorWebAppMoviesContext context = default!;

    private String searchTerm = "";

    private List<Movie> movies = new();

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();

        SearchMovies();
    }

    private void SearchMovies() 
    {
        movies = context.Movie // <--- para hacer queries a un modelo
        .Include(movie => movie.Genre)
        .Where((movie) => movie.Title.Contains(searchTerm))
        .ToList();
    }

    private void SearchByGenre(int? genreId)
    {
        movies = context.Movie // <--- para hacer queries a un modelo
        .Include(movie => movie.Genre)
        .Where((movie) => genreId == null || movie.Genre.Id == genreId)
        .ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
